{% extends 'base.html' %}

{% block content %}

<main class="container py-5">
<section class="card card-body">
    <h1 class="display-1 text-center">Django App</h1>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Impedit ipsa eum soluta mollitia est. Quas sit animi corrupti ducimus in excepturi minus, libero nesciunt nostrum illum dolore natus inventore laudantium. Eius vel tempora quisquam ad odit vitae corrupti ducimus! Unde odit earum ea asperiores iusto dolore quisquam deleniti vel veniam delectus animi voluptates provident cum ex illum, modi laudantium sed, repudiandae omnis? Qui reiciendis quis molestiae ad. Numquam, hic aliquid consequuntur natus perferendis at quod, nisi architecto alias nemo dicta voluptate modi ipsam possimus minus accusamus voluptatibus suscipit, officia eius vitae ipsum doloribus vel culpa? Deleniti corporis nisi ad mollitia?</p>

    <div>
        <a class="btn btn-secondary" href="/signin/">
            Sign In
        </a>
        <a class="btn btn-dark" href="/signup/">
            Sign Up
        </a>
    </div>

</section>
</main>

{% endblock %}